@model tuvantuyensinhsv.v2.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Content/js/facebook_comment.js"></script>

<div class="panel panel-default col-lg-offset-2 col-lg-8">
    <div class="panel-body">
        
        <h3>Hỏi: @Model.Tieude</h3>        
        <span style="float:left;">@Model.Ngaydang</span>
        <span style="float:right;">@Model.AspNetUser.UserName</span>        
        <br />
        <hr />
        @Model.Noidung              
    </div>    
</div>

<div class="col-lg-2">
    @Html.Partial("~/views/shared/_sharefacebook.cshtml")
</div>

<div class="panel panel-default col-lg-offset-2 col-lg-8">
    <h4>Comments</h4>
    <hr />
    <div class="panel-body">
        <div id="fb-root"></div>
        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="100%" data-numposts="10" data-colorscheme="light"></div>
    </div>
</div>
