@model IEnumerable<tuvantuyensinhsv.v2.Models.Nganh>

@{
    ViewBag.Title = "Ngành";
}

<h2>Danh sách Ngành</h2>

<p>
    @Html.ActionLink("Thêm ngành mới", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNganh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Ten, "Details", "Nganhs", new { ID = item.MaNganh},null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNganh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNganh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNganh })
            </td>
        </tr>
    }

</table>
