@model tuvantuyensinhsv.v2.Models.TruongNganh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TruongNganh</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Truong.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truong.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
