@model IEnumerable<tuvantuyensinhsv.v2.Models.TruongNganh>

@{
    ViewBag.Title = "Trường Ngành";
}

<h2>Danh sách trường ngành</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-hover">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.KhoiThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nganh.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truong.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.KhoiThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nganh.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Truong.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { MaTruong = item.MaTruong, idnganh = item.MaNganh, idkhoi = item.KhoiThi}) |
            @Html.ActionLink("Delete", "Delete", new { MaTruong = item.MaTruong, idnganh = item.MaNganh, idkhoi = item.KhoiThi })
        </td>
    </tr>
}

</table>
